*{
    font-family: 'Figtree', sans-serif;
    /*font-family: 'Josefin Sans', sans-serif;*/
}
.main{
    max-width: 1440px;
    height:120vh;
    background-color: hsl(47, 88%, 63%);
    display: flex;
    /*flex-direction: column;*/
    justify-content: center;
    align-items: center;
    
}

.child{
    width:28%;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:flex-start;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    /*margin-bottom: 10px;*/
    box-shadow: 8px 8px hsl(0, 0%, 7%);

}
.image{
    border: 0px solid hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 6px;
    margin-right: 5px;
}
.subchild2{
    margin-top: 1px;
    /*border: 1px solid black;*/
    height: auto;
    width:auto;
    background-color: hsl(0, 0%, 100%);
}
.subchild1{
    margin-top: 2px;
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

#learning{
        font-family: 'Figtree', sans-serif;
    font-weight:bolder;
    font-size: 14px;
    background-color:hsl(47, 88%, 63%) ;
    width:fit-content;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 9px;
    padding-left: 9px;
    border: 1px solid hsl(47, 88%, 63%);
    border-radius: 5px;

}
/*
#subchild2_heading{

}*/

.footerdiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /*justify-content: space-between;*/
}

#paragraph_initial{
    font-size: 14px;
}

img{
    margin-right: 15px;
}

#paragraph{
    color:hsl(0, 0%, 50%);
    text-align: left;
    font-size: 15px;
}